########################################################################################
# Runtime variables
########################################################################################

# NODE_ENV: Specify the development environment for Node
# GOOGLE_APPLICATION_CREDENTIALS: Your GOOGLE API Key to access Vision functionality (see README on how to acquire)
# ARANGO_USER: Your ArangoDB User Name.
# ARANGO_PASS: Your ArangoDB User Password.
# ARANGO_DB_NAME: Your Database instance Name. If using docker, leave it as '_system'
# ARANGO_DB_URL: You ArangoDB URL. IF not using docker (i.e using ArangoOasis), change to https://<id>.arangodb.cloud:<port> 

NODE_ENV='test'
GOOGLE_APPLICATION_CREDENTIALS='AIz...'
ARANGO_USER='root'
ARANGO_PASS='rootpassword'
ARANGO_DB_NAME='_system'
ARANGO_DB_URL='http://localhost:8529'
