# ArangoDB Configuration
ARANGO_DB_URL=http://localhost:8529
ARANGO_USER=root
ARANGO_PASS=test
ARANGO_DB_NAME=picsumvision

# Google Vision API (Optional - only needed for yarn db:populate)
GOOGLE_APPLICATION_CREDENTIALS=

# Flask Configuration
FLASK_APP=server.server
FLASK_ENV=development

# Flask Server Configuration
FLASK_RUN_HOST=127.0.0.1
FLASK_RUN_PORT=8000
