.navbar {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid lightgray;

  &-nav {
    &--items {
      > a {
        margin: 0 8px;
        width: 9em;

        @media all and (max-width: $medium) {
          width: 3em;
        }

        font-weight: 500;
        color: #2f2d2e;

        &:hover {
          transition: 0.3s ease-in;
          background-color: #2f2d2e;
          color: white;
        }
      }
    }
  }
}

.nav {
  &--image {
    height: 128px;
    width: 128px;
    padding: 24px;

    @media all and (max-width: $medium) {
      height: 64px;
      width: 64px;
      padding: 6px;
    }
  }

  &--title {
    text-align: left;

    @media all and (max-width: $medium) {
      text-align: center;
    }
  }
}
